<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:mc="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="UTF-8">
    <title>UpTrade Take Control</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proceso de firma de documentos FAD® / Finamex®</title>
    <style>
        @media screen and (max-width:600px) {
            .container-table {
                width: 80% !important;
            }
            .header td {
                padding: 20px !important;
            }
            .header img {
                width: 80px;
            }
        }
        @media screen and (max-width:360px) {
            .container-table {
                width: 100% !important;
            }
        }
    </style>
</head>

<body align="center" style="font-family:Arial;font-size:14px;margin: 0; padding: 0; background-color: #e6e6e6; padding-top: 20px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#e6e6e6">
        <tbody>
            <tr>
                <td>
                    <div class="container-table" style="background-color: #ffffff; width:600px; display: inline-block; text-align: center;"
                    align="center">
                        <table class="header" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#f4faff">
                            <tbody>
                                <tr>
                                    <td style="text-align: left; padding:20px 40px">
										<img th:src="${logoUrl}" alt="placeholder-logo" width="150" height="auto" style="display: block;" />
                                    </td>
                                    <td style="text-align: right; padding:20px 40px">
										<img src="https://clientes.firmaautografa.com/img/logo-fad_2.png" id="preheaderImage" mc:label="logo_image" mc:edit="logo_image" mc:allowdesigner="" mc:allowtext="" width="130" height="auto" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="70%" align="center">
                            <tbody>
                                <tr>
                                    <td style="text-align: left; padding:20px">
										<img th:src="${iconDoc}" alt="placeholder-documento" width="68" height="auto" />
                                    </td>
                                    <td style="text-align: right; padding:20px">
                                        <p>
                                            El proceso de firma del <b th:text="${contractName}">contrato de intermediación bursátil</b>
											con ID <b th:text="${idRequisitionClient}">0</b> creado el <b th:text="${dateContractRequisition}">?</b> ha finalizado
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <hr style="width:70%; height:3px;background-color:#e4e4e4; border:0;">
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p style="text-align: center">
                                            <strong>Anexo a este correo encontrarás los siguientes archivos:</strong>
                                        </p>
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; padding:20px">
										<img th:src="${iconPdf}" alt="placeholder-pdf" width="68" height="auto" />
                                    </td>
                                    <td style="text-align: right; padding:20px">
                                        <p>
                                            El <strong>PDF</strong> es la representación gráfica del documento firmado digitalmente
                                        </p>
                                        <p>
                                            <strong>Password: <span th:text="${pass}"></span></strong>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <hr style="width:70%; height:3px;background-color:#e4e4e4; border:0;">
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left; padding:20px">
										<img th:src="${iconFad}" alt="placeholder-fad" width="68" height="auto" />
                                    </td>
                                    <td style="text-align: right; padding:20px">
                                        <p>El <strong>.FAD</strong> es la fuente para resolver cualquier controversia legal</p>
                                        <p>
                                            <strong>Llave: <span th:text="${key}"></span></strong>
                                        </p>
                                        <p>
                                            <strong>Vector: <span th:text="${iv}"></span></strong>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <p style="text-align: center; color: #b4b4b4">
                                            <strong>
                                                *Es muy importante que conserves esta información para futuras aclaraciones.
                                            </strong>
                                        </p>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="90%" align="center" style="padding-bottom:50px">
                            <tbody>
                                <tr th:each="signer : ${signers}">
                                    <td style="text-align: left; padding:20px">
										<img th:src="'https://maps.googleapis.com/maps/api/staticmap?center='+${signer.geolocation.latitude}+','+${signer.geolocation.longitude}+'&zoom=15&size=600x300&maptype=roadmap&markers=color:orange%7Clabel:F%7C'+${signer.geolocation.latitude}+','+${signer.geolocation.longitude}+'&key='+${keyMap}" alt="placeholder-mapa" width="150" height="150" />
                                    </td>
                                    <td style="text-align: right; padding:20px">
                                        <p>
                                            Firmante
                                            <br>
                                            <strong th:text="${signer.signerName}"></strong>
                                            <br>
                                            Fecha y hora: <strong th:text="${signer.dateSignRequisition}"></strong>
                                            <br>
                                            Nombre dispositivo:
                                            <strong th:text="${signer.deviceDto.deviceName} + ' - ' + ${signer.deviceDto.deviceModel}"></strong>
                                            <br>
                                            Sistema operativo: 
                                            <strong th:text="${signer.deviceDto.operatingSystem} + ' - ' + ${signer.deviceDto.operatingSystemVersion}"></strong>
                                            <br>
                                            Versión App:
                                            <strong th:text="${signer.deviceDto.versionApp}"></strong>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="text-align:center;padding: 30px; font-size: 11px;border-top: 1px solid #e4e4e4; background-color: #FAFAFA">
                            <p>
                                Haz <a href="https://visor.firmaautografa.com/seleccion" style="color: #4580ec"><strong>clic aquí</strong></a> sí deseas visualizar el detalle del <strong>archivo .FAD</strong> (videos, huella digital electrónica, constancia de conservación, entre otros).
                            </p>
                            <p>
                                <strong>*En ambos casos, deberás utilizar la Llave y el Vector que se incluyen en este correo.</strong>
                            </p>
                            <p>
                                El proceso se realizó mediante la <strong>Firma Autógrafa Digital*</strong>, por lo cual cuenta con la misma validez legal que un documento firmado de forma autógrafa en papel.
                            </p>
                            <hr style="width:70%; height:3px;background-color:#e4e4e4; border:0;">
                            <p>Para cualquier duda o aclaración, por favor ponte en contacto con uno de nuestros representantes al: <strong>01 800 5362-5800</strong></p>
                            <p>De acuerdo con el Código Civil Federal, Código Federal de Procedimientos Civiles, Código de Comercio, Ley Federal de Protección al Consumidor y la NOM-151-SCFI-2016, la firma autógrafa sobre medios electrónicos tiene la misma validez legal que una firma en papel.</p>
                            <p>*Para mayor información, consulta nuestra sección de <a href="https://www.firmaautografa.com/faqs" style="color: #4580ec"><strong>preguntas frecuentes</strong></a>.
                            <br>
                            *Consulta nuestro <a href="https://www.firmaautografa.com/aviso-de-privacidad" style="color: #4580ec"><strong>aviso de privacidad</strong></a>
                            </p>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
</body>

</html>